<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Management Library Project</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <style>
    body {
      background-color: #f0f0f0;
    }
    #container {
      padding: 20px;
    }

    #contentContainer {
      padding: 10px;
    }

    #footer
    {
      clear: both;
      background-color: #0f4659;
      font-size: 12px;
      color: white;
      text-align: center;
    }

    #navbar {
      padding: 20px;
      background-color: #0f4659;
      color: white;
      text-align: center;
    }

  </style>

</head>
<body>
<div id="container" th:align="center">
  <nav id="navbar">
    <a class="navbar-brand">
      <h3>Home Management Library Project</h3>
    </a>
  </nav>
  <div id="contentContainer" th:align="center">
    <form action="#" method="post" th:action="@{/save_book}" th:object="${book}">
      <input type="hidden" th:field = "*{id}">
      <input class="form-control mb-4 col-4" placeholder="Title" th:field="*{title}" type="text">
      <input class="form-control mb-4 col-4" placeholder="Author" th:field="*{author}" type="text">
      <!--			<input type="text" th:fields="*{status}" placeholder="Status" class="form-control mb-4 col-4">-->
      <input class="form-control mb-4 col-4" placeholder="Description" th:field="*{description}" type="text">
      <button class="bg-primary btn-lg" type="submit"> Add</button>
    </form>
  </div>
  <div th:align="center">
    <a th:href="@{/index}"> Strona główna</a>
  </div>
  <div id="footer">
    <h6> &#174;2021 Home Management Library Project</h6>
  </div>
</div>
</body>
</html>
